JabberPoint/jabberpoint.dtd

<!--
 Document Type Definition voor JabberPoint presentaties
 $Id$
 -->
<!ELEMENT presentation (metadata*,slide+)>

<!ELEMENT metadata (#PCDATA)>
<!ATTLIST metadata kind CDATA #REQUIRED>

<!ELEMENT presenter (#PCDATA)>
<!ELEMENT showtitle (#PCDATA)>

<!ELEMENT title (#PCDATA)>
<!ELEMENT slide (title, item*)>
<!ATTLIST slide transitions CDATA #REQUIRED>
<!ELEMENT item (#PCDATA|item)*>
<!ATTLIST item kind CDATA #REQUIRED>
<!ATTLIST item level CDATA #REQUIRED>

