JabberPoint/jabberpoint.dtd

<!--
 Document Type Definition voor JabberPoint presentaties
 $Id$
 -->
<!ELEMENT showtitle (#PCDATA)>
<!ELEMENT presentation (showtitle,slide+)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT slide (title, item*)>
<!ATTLIST slide transitions CDATA #REQUIRED>
<!ELEMENT item (#PCDATA|item)*>
<!ATTLIST item kind CDATA #REQUIRED>
<!ATTLIST item level CDATA #REQUIRED>

